<% provide(:title, 'Help') %>
<section>
	<div class= "container">
		<section>
			<h1 class="conv-title">Help page</h1>
		</section>
		<div class="row-fluid">
		<div class="span8 offset2"
			<div class="subtitle" style="text-align: justify">WhatsNapp is a messaging app that provides an additional shared note. It has been created after the cofounders realized they really lacked a messaging system with this capability. Also, most of them were not available on all devices types: smartphones, tablets and computers. When facebook started to mess with Whatsapp, we decided it was time to do something to keep a free messaging system that was  truly better. In two days I released an alpha version, and we started using the system for our own projects just two days later. We would like our system to be free and available to be used by everybody in the simplest way possible. If you are interested in our project or woud like to make a suggestion, don't hesitate to write me a note! ;)</div>
		</div>
	</div>
	<section>

		<div class="subtitle" style="text-align: center">Jean-Charles Gasche</div>
	</section>
	<div class="subtitle" style="text-align: center">Generic Utilisation conditions</div>

</div>
</section>