<% provide(:title, 'All users') %>

<section>
  <div class="row-fluid">
    <h2 class="conv-title">All users</h2>
    <div class="subtitle" style="text-align: center">Find a user you know and start messaging!</div>
  </div>
</section>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<div id="half-slider">
  <ul class="slides">
    <li>
      <div class="img-theme show"></div>
      <div class="flex-caption"></div>
    </div>
  </li>
</ul>
</div>

