<% if @conversation_items.any? %>
<div id= "conversation-messages">
  <ol class="microposts">
    <%= render partial: 'shared/conversation_item', collection: @conversation_items %>
  </ol>
</div>
<% end %>