h1 {color:#000;font-weight:100 !important;}
h1 a {color:#00B2EE; font-size: 150px; font-weight:100  !important;}
#slogan {font-size: 16px;
    color:#AAA;
    margin-top:17px;
    max-width:300px;
    width:90%;
    margin-left: 10px;
    margin-right: 10px;
    z-index:22;}

#logged_in_menu {font-size: 22px;
    color:#AAA;
    margin-top:5px;
    max-width:400px;
    width:90%;
    margin-left: 10px;
    margin-right: 10px;
    z-index:22;}

h2 {color:#AAA;font-weight:300 !important;font-size:64px !important;}

#how-it-works {color:#8B8682 !important;font-size:13px !important;line-height:20px;}
#how-it-works h3 {color:#00B2EE !important;font-size:28px !important;line-height:30px !important;font-weight:500 !important;margin:0 0 20px 0;}
#how-it-works {background-color:#eff0ea;}
#how-it-works .container {max-width:800px;}
#how-it-works .container .row {margin-top:40px;margin-bottom:40px;}



@media all and (max-width: 480px) {
    #navigator .item {width:50% !important;}
    h1 {font-size:60px !important;line-height:62px !important;}
    h2 {font-size:48px !important;line-height:50px !important;margin-bottom:20px !important;}
    h3 {font-size:34px !important;line-height:36px !important;}
    #why-use .subtitle {font-size:16px;line-height:17px;}
}

@media all and (min-width: 481px) and (max-width: 767px) {
    
    h1 {font-size:64px !important;line-height:66px !important;}
    h2 {font-size:52px !important;line-height:54px !important;margin-bottom:20px !important;}
    h3 {font-size:34px !important;line-height:36px !important;}

    #navigator .item {width:33% !important;}
    
    #why-use .subtitle {font-size:16px;line-height:17px;}
    #why-use .item {text-align: center !important;}
    #why-use .caption {text-align: left;}

    h1 {font-size:54px !important;line-height:56px !important;}
    h2{font-size:36px !important;line-height:38px;}
    h3{font-size:16px !important;font-weight:500 !important;line-height:17px !important;}
}


.conversation {
    max-height: 200px
}


#compose_message{margin-bottom:10px;
    margin-top:10px;margin-left:5px;margin-right:5px;
}

#intown {background-color: #000; color:#fff;}
#intown .intown-title {background-color: #000; font-size: 35px;font-weight: 300; color:#fff;}
#intown .intown-text {background-color: #000; color:#ddd; font-size: 20px; font-weight: 200; line-height: 27px;}

#onesnap {background-color: #fff; color:#fff;}
#onesnap .onesnap-title {background-color: #fff; font-size: 35px;font-weight: 200; color:#000;}
#onesnap .onesnap-text {background-color: #fff; color:#aaa; font-size: 17px; font-weight: 100; line-height: 25px; margin-bottom: 50px;}

#camera-case {background-color: #000; color:#fff;}
#camera-case .camera-case-title {background-color: #000; font-size: 35px;font-weight: 300; color:#fff;}
#camera-case .camera-case-text {background-color: #000; color:#ddd; font-size: 20px; font-weight: 200; line-height: 27px; ; text-align: justify}


#aureline-overview {background-color: #ffd95e; color:#fff;}
#aureline-overview .aureline-overview-title {background-color: #ffd95e; font-size: 105px;font-weight: 600; color:#fff; margin-bottom: 55px;}
#aureline-overview .aureline-overview-text {background-color: #ffd95e; color:#fff; font-size: 20px; 
    font-weight: 310; line-height: 27px; padding-left: 15px; padding-right: 25px; text-align: justify}

#amaury-overview {background-color: #ffd95e; color:#fff;}
#amaury-overview .amaury-overview-title {background-color: #ffd95e; font-size: 105px;font-weight: 600; color:#fff; margin-bottom: 55px;}
#amaury-overview .amaury-overview-text {background-color: #ffd95e; color:#fff; font-size: 20px; 
    font-weight: 310; line-height: 27px; padding-left: 15px; padding-right: 25px; text-align: justify}

#charles-overview {background-color: #ffd95e; color:#fff;}
#charles-overview .charles-overview-title {background-color: #ffd95e; font-size: 105px;font-weight: 600; color:#fff; margin-bottom: 55px;}
#charles-overview .charles-overview-text {background-color: #ffd95e; color:#666; font-size: 20px; 
    font-weight: 310; line-height: 27px; padding-left: 15px; padding-right: 25px; text-align: justify}













